<h1>Secret Number Is?</h1>

<p>
    <form action="/secretnum/result">
    <label>
    Guess Number:
    <input type="number" name="number" placeholder="1 to 100" min="1" max="100" style="width: 7em" required>
    </label>
    <br><br>
    <button>Play!</button>
    </form>
</p>