<h1>Show Stocks</h1>

<p>
    <form action="/stocksresults">
    <label>
    Stock Symbol:
    <input type="search" name="companyname" placeholder="GOOG" required>
    </label>
    
    <button>Lookup!</button>
    </form>
</p>