<h1>Hello Gamer</h1>

<h2>Magic 8 Ball, Secret Number, OR Rock, Paper, Scissors?</h2>

<br><br>
<p>
<a href="/magic8">>> Magic 8 Ball <<</a>
<br><br>
<a href="/secretnum">>> Secret Number <<</a>
<br><br>
<a href="/rockpaper">>> Rock, Paper, Scissors <<</a>
</p>
<br>