<h1>Dr. Mike's Magic 8 Ball</h1>


<p class="pLabel">Question:
<br><%= @question %>

<br><br>Dr. Mike's Magic 8 Ball says:
<br><%= @answer %>

<br><br>&nbsp;<br>
<form action="/magic8/">    
    <button>Ask Again?</button>
</form>
</p>
