<h1>Show Books</h1>

<form action="/result">
    <label>
    Enter Book Title:
    <input type="text" name="booktitle" placeholder="Jaws" required>
    </label>
    
    <button>Lookup Book!</button>
    </form>