<h1>Dr. Mike's Magic 8 Ball</h1>

<form action="/magic8/result">
    <label>
    Enter Your Question:<br>
    <textarea rows="5" cols="75" name="question" placeholder="How's the weather today?" required></textarea>
    </label>
    <br><br>&nbsp;
    <button>Ask Dr. Mike!</button>
    <br>
</form>