/* CSS File for Memory Card Game, modified by Mabeth Borres WDI March 2019 */

h1 { /* MEMORY GAME */
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}

p { /* BODY TEXT */
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	/*margin: auto;*/
	/*padding-top: 10px;*/
}

button {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	background-color: #00a6b3;
  	border: none;
  	color: white;
  	padding: 10px;
  	border-radius: 15px;
  	padding-right: 14px;
  	padding-left: 14px;
}

button:active {
	outline: none;
	border: none;
}

button:focus { 
	outline: none; 
}

body {
	text-align: center;
	margin: auto;
}

a { /* Instructions Game */
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	padding: 20px;
	border-bottom: 2px solid transparent;
}

h2 { /* Instructions */
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px;
}

main {
 	width: 850px;
  	margin: 35px auto;
}

nav {
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px;
}

div {
  	padding-top: 0px;
  	padding-bottom: 10px;
  	width: 760px;
  	margin: auto;
  	display: -webkit-flex; /* Safari */
  	-webkit-align-items: center; /* Safari 7.0+ */
  	display: flex;
  	align-items: center;
}

img {
	padding: 3px;
}

footer {
	text-transform: uppercase;
	padding: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	/*position: absolute;
  bottom: 0;
  width: 100%;*/
}

input[type=text] {
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border: 1px solid #555;
  	outline: none;
}

input[type=text]:focus {
  	background-color: lightblue; 
}

/* Classes */

.divbuttons {
	padding-bottom: 0px;
 	padding: 0px;
  	display: flex;
  	margin: auto;
  	width: 40%;
}

.gameboard {
	width: 85%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a: hover {
	top: 0;
	border-color: white;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.afooter {
	font-size: 16px;
}

.name {
	color: #f15b31;
	font-weight: 700;
}

.contactdetails {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	text-transform: none;
	padding: 0px;
}

.instruct {
	text-align: justify;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
}

.forminput {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	text-align: justify;
	padding-bottom: 20px;
}

.gameinfo {
	text-align: justify;
	padding-bottom: 0px;
	background: white;
}

.hidden {
	color: white;
	background-color: white;
	outline: none;	
	border: none;
	padding: 0;
}

.gamepage {
	background: white;
	padding:3px 15px;
}

.inputbutton {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	background-color: #00a6b3;
  	border: none;
  	color: white;
  	padding: 10px;
  	padding-right: 15px;
  	padding-left: 15px;
  	border-radius: 15px;
  	padding-bottom: 10px;
}

.inputbutton:focus { 
	outline: none; 
}

/* Hover Text on Card Image */

/* Parent Container */
.content_img{ /*row*/
 	position: relative;
 	display: flex;
 	margin: auto;
 	padding-bottom: 0px;
}

.column {
  	flex: 33.33%;
  	padding: 3px;
}

/* Child Text Container */
.content_img div{
 	position: absolute;
 	top: 0;
 	background: #00a6b3;
 	color: white;
 	margin-bottom: 5px;
 	font-family: sans-serif;
 	opacity: 0;
 	visibility: visible;
 }

/* Hover on Parent Container */
.content_img:hover{
 	cursor: pointer;
}

.content_img:hover div{
 	width: 150px;
 	padding: 8px 15px;
 	visibility: visible;
 	opacity: 0.7; 
}
